/* Place CSS styles here */
body {
    background-color: beige;
}
div {
    
}
html {
    scroll-behavior: smooth;
}
a:hover {
    color: #E0FF4F;
}
.about-text-title:active  {
    color: blueviolet;
}
.cat {
    color: purple;
    
}
.square {
    width: 100px;
    height:100px;
    background-color: rgb(230, 144, 32);
    color: beige;
    transition: color 1s ease;
}
.square:focus {
    box-shadow: 0 0 0 4px rgb(59, 21, 212);

}
.primary-button {
    margin: 30px;
    padding: 10px;
    color:lightcoral;
    background-color: rgb(13, 13, 95);
    font-size: 20px;
    border: none;
    border-radius: 7px;
    transition: all 1s ease;

}

.primary-button:hover {
    color: #E0FF4F;
    background-color: lightcoral;
    
}
.t-hidden {
    padding: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}
/* t-hidden to hide span text but is still visible to screen readers */
@media (max-width: 600px) {
    body {
        color: rgb(192, 61, 61);
    }
    
}